.color-red
{
  --link-color: red;
  color: red;
}

.size-s {
  font-size: 0.75em;
}

.hide-mobile {
  display: none;
}

@media (width >= 600px) {
  .hide-mobile {
    display: inline;
  }
}

.hide-desktop {
  display: inline;
}

@media (width >= 600px) {
  .hide-desktop {
    display: none;
  }
}
